* {
    box-sizing: border-box;
}


:root {
    --black: #232020;
    --white: #f1f0ea;
    --main-height: 350px;
    --main-width: 470px; 
  }
object{
    background-color: black;
}
  .gallery {
    z-index: -1;
    max-width: 1200px;
    max-width: var((--main-width * 3) + 30px );
    margin: 10px auto;
    padding-top: 20px;
    text-align: center;
  }
  
  .gallery-item {
    position: relative;
    display: inline-block;
    height: var(--main-height);
    width: var(--main-width);
    margin: 12px;
    border-radius: 3px;
    overflow:hidden;
  }
  
  .project-image {
    height: var(--main-height);
    width: var(--main-width);
    transition: all 0.3s ease;
    transition-delay: 0.2s;
  }
  
  .project-text {
    position: relative;
    top: -43px;
    display: inline-block;
    width: 100%;
    height: 350px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    font: 400 16px "Montserrat";
    color: var(--white);
    transition: all 0.2s ease-in-out;
  }
  
  .project-text__title {
    font-weight: 100;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    transition: all 0.4s ease;
  }
  
  .project-text__facts {
    position: relative;
    top: 0;
    height: var(--main-height);
    width: var(--main-width);
    padding: 10px 50px;
    font: 400 15px "Montserrat";
    text-align: left;
    line-height: 23px;
    letter-spacing: 0.4px;
    opacity: 0;
    transition: all 0.9s ease;
    transition-delay: 0.2s;
  }
  
  /** HOVERS **/
  .gallery-item:hover .project-image {
    transform: scale(2.5) rotate(15deg);
  
  }
  
  .gallery-item:hover .project-text {
    top: -350px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .gallery-item:hover .project-text__title {
    font-weight: 700;
    padding-top: 10%;
    font-size: 30px;
    margin-bottom: -5px;
  }
  
  .gallery-item:hover .project-text__facts {
    opacity: 1;
  }
  

section {
    box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.808);
}

/***** logo *****/
picture {
    align-items: center;
    height: 20vh;
}

.wrap {
    position: absolute;
    width: 100vh;
    display: block;
    left: 25vw;
    top: 25vh;
    z-index: 1000;
}

.wrap>img {
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.25);
}


.wrap2 {
    position: fixed;
    width: 14vh;
    display: block;
    left: 3vw;
    top: 2vh;
    z-index: 20000;
    height: 14vh;
    display: none;
}


/***** Header Section *****/
header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1);
}

/*** Navigation ***/
.main_nav {
    position: fixed;
    top: 0px;
    max-height: 10vh;
    z-index: 10000;
    width: 100%;
    padding-top: 0;
    background-color: black;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 0;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .4);
}

.sticky {
    background-color: #000000;
    opacity: 1;
    top: 0px;
}

nav {
    display: flex;
    justify-content: center;
}

.li {
    display: inline-block;
    margin-left: 5vw;
    margin-top: 0.5vh;
}

/*** nav underline on hover ***/
.ul:hover .li:not(:hover) a {
    opacity: 0.2;
}

.li a,
.li a:after,
.li a:before {
    transition: all .5s;
}

.li a {
    position: relative;
}

.li a:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #e60023;
    height: 2px;
}

.li a:hover:after {
    width: 100%;
}

/*** Links ***/
a {
    color: #e60023;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

/*** Navigation end ***/


.container {
    position: relative;
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    height: 100%;
}

.container h1 {
    font-family: 'Raleway', sans-serif;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
}

.title {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 2rem;
    max-width: 960px;
    text-align: center;
}

/*** Intro typing effect ***/
.intro_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.intro_container p {
    
    font-size: 7vh;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    margin-top: 20rem;
    font-family: 'Raleway', sans-serif;
}

.intro_container p span.typed-text {
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.intro_container p span.TypeCursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.intro_container p span.TypeCursor.typing {
    animation: none;
}

@media (max-width:750px) {
    .intro_container p {
        font-size: 2rem;
    }
}

/*** Intro typing effect end ***/

/*** Scroll down animation ***/
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #e60023;
    border-right: 2px solid #e60023;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}

/*** arrow animation ***/
@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

/*** Scroll down animation end ***/


/***** About Section *****/
#about {
    height: 100vh;
    padding: 0vh 0;
    background-repeat: no-repeat;
    background-image: url(/images/varunmalhotra.png);
    background-position: top center;
}
.about-title h2{
    color: white;
}

.about-container {
    display: flex;
    font-family: 'Raleway', sans-serif;

}

.about-title {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content:baseline;
    align-items: center;
    font-size: 4vh;
    margin: 0;
    flex-direction: column;
    
}

.in{
color: #FF9933;
}

.ia{
color: #138808;
}

.d{
color: #ffffff;
}

.about-title img {
    margin-left: 4vw;
}


.about-pages {
    width: 50%;
    text-align: justify;
}

.about-pages div {
    height: 99.7vh;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 5vh;
    
}

.about-pages div>h2 {
    width: 90%;
    font-size: 4.5vh;
    line-height: 3.5vh;
    color: rgb(255, 255, 255);
}

.about-pages div>p {
    width: 90%;
    font-size: 2.5vh;
    line-height: 3.5vh;
    color: rgba(194, 194, 194, 0.541);
}

.about-pages div:nth-child(even) {
    background-color: #f5f5f5;
}

/***** Skills Section *****/

#skills {
    padding: 8vh 0;
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    background-image: url(/images/bg_sectionSkillls.png);
    background-position: right;
}

.skills-container,
.main {
    height: 100%;
}

.main {
    display: flex;
    height: 100%;
    width: 90%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 0.875em 2.125em 0.875em;
}


/***** Portfolio Section *****/
#portfolio {
    padding: 8vh 0;
    font-family: 'Raleway', sans-serif;
}

/* Clearing */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  

  .row {margin: 0 -5px;}
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    
  }

/*** portfolio images ***/






 

/***** Contact Section *****/
#contact {
    padding: 5vh 0 52vh 0;
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}

/***** pagination styles *****/
#pagination {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0px;
    list-style: none;
    display: none;
}

#pagination li {
    position: relative;
    margin: 20px 0;
    background: #e60023;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#pagination li:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#pagination a {
    position: absolute;
    text-decoration: none;
    left: 0;
    top: 0;
    color: inherit;
    width: 100%;
    height: 100%;
}

body.header #pagination li:nth-of-type(1),
body.about #pagination li:nth-of-type(2),
body.skills #pagination li:nth-of-type(3),
body.portfolio #pagination li:nth-of-type(4),
body.contact #pagination li:nth-of-type(5) {
    -webkit-transform: scale(2);
    transform: scale(2);
}

/****** Contact styles ******/

#form-container {
    cursor: pointer;
    color: #FFF;
    z-index: 1000;
    position: absolute;
    margin: 0 auto;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 5vh;
    background-color: #f72f4e;
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    max-width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
    transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
}

.icon::before {
    cursor: pointer;
    font-size: 30px;
    line-height: 60px;
    display: block;
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover::before {
    -webkit-animation: wiggle 0.2s linear infinite;
    animation: wiggle 0.2s linear infinite;
}

fa-envelope::before {
    display: block;
}

@-webkit-keyframes error {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
}

@keyframes error {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
}

@keyframes wiggle {

    0%,
    100% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
}

/****** Contact Card ******/

input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Anton', sans-serif;
  }
  
  input[type=email], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Anton', sans-serif;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Anton', sans-serif;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-top: 2rem;
  }
  
  input[type=submit]:hover {
    background-color: #303030;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  


.main-wrapper {
    width: 200px;
    height: 200px;
    position: relative;
    top: 20vh;
    left: 31.5vw;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.main-wrapper-inside {
    width: 200px;
    height: 200px;
    position: relative;
}

.button {
    border-radius: 50%;
    width: 58px;
    height: 58px;
    background-color: #ff0033;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
    will-change: transform;
}

.button .material-icons {
    -webkit-transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    transform-origin: center center;
}

.button.animation {
    background-color: #ff0029;
}

.button.animation .material-icons {
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
}

.button-wrapper {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: transform 400ms cubic-bezier(0.07, 1.1, 0.28, 1.01);
    transition: transform 400ms cubic-bezier(0.07, 1.1, 0.28, 1.01);
    will-change: transform;
}

.button-wrapper.animation {
    -webkit-transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
}

.button-wrapper.first.animation {
    transform: rotate(-36deg) translateZ(0);
}

.button-wrapper.second.animation {
    transform: rotate(-68deg) translateZ(0);
}

.button-wrapper.third.animation {
    transform: rotate(-100deg) translateZ(0);
}

.button-wrapper.fourth.animation {
    transform: rotate(-136deg) translateZ(0);
}

.button-inside {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.button-inside.first {
    background-color: #ff0033;
    transform: rotate(36deg);
}

.button-inside.second {
    background-color: #ff0033;
    transform: rotate(68deg);
}

.button-inside.third {
    background-color: #ff0033;
    transform: rotate(100deg);
}

.button-inside.fourth {
    background-color: #ff0033;
    transform: rotate(136deg);
}

.button-inside a i:hover {
    transform: scale(1.5);
}

#portfolio .row {
    margin-top: 5vh;
}

/*********** Media Queries ***********/

/*** @media (max-width: 768px) ***/

@media (max-width: 768px) {
    .wrap {
        width: 16vh;
        height: 20vh;
        left: 40vw;
    }

    .intro_container p {
        font-size: 1.5rem;
    }

    .wrap2 {
        width: 7vh;
        height: 7vh;
        left: 4vw;
        top: 3vh;
    }

    .about-title {
        font-size: 2.5vh;
    }

    .myAvatar {
        width: 15vw;
    }

    .about-pages div > p {
        width: 95%;
        font-size: 1rem;
        line-height: 2.4vh;
    }

    .about-pages div > h3 {
        width: 93%;
    }

    .main {
        width: 100%;
        padding: 0 0 3.125em 0;
    }

    

    .main-wrapper {
        left: 25vw;
        top: 24vh;
    }

    .descriptions {
        padding: 10px;
    }

    .button-inside .fa {
        font-size: 1.5em;
    }

    #contact {
        height: 95vh;
    }

    #form-container {
        top: 15vh;
    }

    #portfolio .row {
        margin-top: 2vh;
    }

}

/*** @media (max-width: 414px) ***/

@media (max-width: 414px) {
    
    .intro_container p {
        font-size: 1.5rem;
    }

    .stroke {
        width: 85vw;
    }

    .stroke ul {
        width: 78vw;
        padding-left: 0vw;
    }

    .stroke a {
        font-size: 0.8rem;
    }

    #pagination {
        left: -5vw;
    }

    .about-title h2 {
        left: 3vw;
        position: relative;
    }

    .myAvatar {
        width: 22vw;
        left: 0vw;
    }

    .about-pages div {
        overflow-y: auto;
    }

    .about-pages div > p {
        font-size: 0.8rem;
        line-height: 2.6vh;
        margin-bottom: 0vh;
    }

    .about-pages div > p:nth-child(1) {
        margin-top: 0vh;
    }

    .about-pages div > p:nth-last-child(1) {
        padding-bottom: 3vh;
    }

    .about-pages div > h3 {
        font-size: 0.9em;
    }

    .container {
        max-width: 87%;
        width: 87%;
    }

    .container h1 {
        font-size: 1.5rem;
        top: 2vh;
        position: relative;
    }

   
    #portfolio {
        padding-bottom: 16vh;
    }

    .three.columns {
        width: 100%;
        margin-bottom: 3vh;
    }

    .columns:first-child {
        margin-left: 3vw;
    }


    #portfolio .row {
        margin-top: 0vh;
        left: -3vw;
        position: relative;
        top: 3vh;
    }

    

    

}

/*** @media (max-width: 375px) ***/

@media (max-width: 375px) {
    .stroke li {
        margin-left: 4vw;
    }

    .main-wrapper {
        left: 13vw;
    }

}

/*** @media (max-width: 375px) and (min-height:812px) ***/

@media (max-width: 375px) and (min-height:812px) {

    .cbp-contentslider nav a span {
        font-size: 0.5rem;
    }

    .stroke ul {
        left: 2vw;
    }

}

/*** @media (max-width: 360px) ***/

@media (max-width: 360px) {
    .stroke ul {
        width: 80vw;
    }


    .section button {
        top: 2vh;
    }
}